.wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.wrapper button {
	border: none;
	outline: none;
	background: none;
	color: var(--color-lightgray);
}

.wrapper button:disabled {
	color: var(--color-black);
}

.divider {
	height: 2.5rem;
	width: 2px;
	background-color: var(--color-black);
	margin-bottom: 1rem;
}

.icon {
	height: 2.5rem;
	width: 2.5rem;
}
