/* Button Common */
.button {
    height: var(--button-height);
    padding: 0 var(--button-padding-horizontal);
    border-radius:  var(--button-radius);
    border: none;
}

.button:disabled {
    background-color: var(--button-bg-disabled);
    border: var(--button-border-disabled);
    color: var(--button-color-disabled);
    box-shadow: var(--button-shadow);
}

/* Button Primary */
.buttonPrimary {
    background-color: var(--button-bg-primary);
    color: var(--button-color-primary);
    box-shadow: var(--button-shadow);
}
.buttonPrimary:hover {
    box-shadow: var(--button-shadow-hovered);
}

/* Button Secondary */
.buttonSecondary{
    background-color: var(--button-bg-white);
    color: var(--button-color-secondary);
    box-shadow: var(--button-shadow);
    border: var(--button-border)
}

.buttonSecondary:hover{
    box-shadow: var(--button-shadow-hovered);
}

/* Disalbed */
.buttonPrimary:hover:disabled ,
.buttonSecondary:hover:disabled
{
    box-shadow: var(--button-shadow);
    pointer-events: none;
}

