.select {
	cursor: pointer;
	width: 100%;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	padding-right: 3rem;
	border: none;
	outline: none;
	box-shadow: var(--shadow-sm);
	border-radius: var(--radius-sm);
	appearance: none;
}

.select:focus {
	box-shadow: var(--shadow-md);
}

.wrapper {
	position: relative;
}

.arrow {
	pointer-events: none;
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	height: 1.5rem;
	width: 1.5rem;
	color: var(--color-gray);
}
